*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --size-width:100%;
    --content-size:70%;
    --pdding-content:5px 0px 5px 0px;
}

body{
    background-color: rgb(231, 231, 231);
}

a{
    text-decoration: none;
    color: black;
}

header{
    width: var(--size-width);
    background-color: #11b57c;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 240px;
}

img{
    display: block;
}

.amout-me{
    width: var(--content-size);
    color: white;
}

.name{
    font-size: 26px;
    text-transform: uppercase;
}

.position{
    font-size: 19.5px;
}

main{
    width: var(--size-width);
    background-color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 231, 231);
}

.personal-information{
    margin-top: -178px;
    width: var(--content-size);
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: start;
}

.personal-information__label{
    background-color: #11b57c;
    color: white;
}

.personal-information__data{
    width: 100%;
    padding-top: 10px;
    font-size: 20px;
}

.content {
   position: absolute;
    height: 50px;
    overflow:hidden;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: black;
    margin-top: 5px;
    margin-left: 2.5%;
}   
.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 20px;
}

.content__container:before {
    content: '[';
    left: 0;
}
  
.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
    }
  
.content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
  
.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}
  
.content__container__list {
    margin-top: 0;
    padding-left: 45px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    line-height:40px;
    margin:0;
}
      
@-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
  
@-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
  
@-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
  
@-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
  
@-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
  
@-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
  
@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
  
@keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

.container__information{
    margin-top: 55px;
}

.personal-information__persone{
    font-size: 28px;
    font-weight: 300;
    margin-left: 5%;
}

#im{
    margin-left: 5px;
    font-weight: bold;
    color: #11b57c;
}

.personal-information__position{
    width: 85%;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size:20px;
    border-bottom: 3px solid rgb(231, 231, 231);
    margin-left: 5%;
}

.personal-information__column{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 5%;
}

.slider-image{
    position: relative;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -225px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: 4;}
    to{opacity: 1;}
}

@keyframes fade{
    from{opacity: 4;}
    to{opacity: 1;}
}
.column_second{
    margin-left: 5%;
}

.column_first div{
    padding: var(--pdding-content);
}

.column_second div{
    padding: var(--pdding-content);
}

nav{
    background-color: #11b57c;
    margin-top: 4px;
}

.networks{
    display: flex;
    justify-content: space-between;
}

.networks a{
    display: flex;
    justify-content: center;
    width: 33.3%;
    height: 40px;
}

.networks #gmail{
    background-image: url(./content/gmail.png);
    background-repeat: no-repeat;
    background-position: center;
}

.networks #linkedin{
    background-image: url(./content/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
}

.networks #git{
    background-image: url(./content/github.png);
    background-repeat: no-repeat;
    background-position: center;
}

.networks a:not(:last-child){
    border-right: 1px solid white;
}

.networks a:hover{
cursor: pointer;
}



